

.jumbotron {
    background-color: #f4511e;
    color: #ffffff;

}

.imgcontainer{
  margin: none;
  padding: none;
}

.typewriter p {
  width: 397px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.typeCont{
  width: 390px;
  margin: auto;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 opacity:0;  !important
 -webkit-animation: fadeIn ease-in 1;
 -moz-animation: fadeIn ease-in 1;
 animation: fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:2s;
 -moz-animation-duration:2s;
 animation-duration:2s;
}


h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

img.experience{
  display: block;
  margin-left: auto;
  margin-right: auto
}

#project{
  background-image: url("photos/black.jpg");
}

.text-light{
  color: #ffffff;
}


img.desaturate {
	filter: grayscale(0);
}

div.hidden {
    display: none
}
