

.jumbotron {
    background-color: #f4511e;
    color: #ffffff;

}
.navbar-default
.navbar-nav>li>a:hover{
  color: #f4511e;
}

.imgcontainer{
  margin: none;
  padding: none;
}

.typewriter p {
  width: 397px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.typeCont{
  width: 390px;
  margin: auto;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

img.experience{
  display: block;
  margin-left: auto;
  margin-right: auto
}

#project{
  background-image: url(photos/black.jpeg);
}

.text-light{
  color: #ffffff;
}


img.desaturate {
	filter: grayscale(0);
}

div.hidden {
    display: none
}
